@page "{id}";

@model OldTube.Pages.ProfileModel
@{
    ViewData["Title"] = Model.Channel.Title;
    int nextPage = Model.CurrentPage + 1;
    int previousPage = Model.CurrentPage - 1;
    var testGroup = Model.Videos.Select((video, index) => new { video, index }).GroupBy(g => g.index / 4, i => i.video);
}

<table width="80%" align="center" cellpadding="5" cellspacing="0" border="0">
    <tbody>
        <tr valign="top">
            <td width="150">
                <div>
                    <table width="100%" bgcolor="#D5E5F5" cellpadding="5" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <font face="verdana, arial, helvetica" size="2">
                                        <h3>@Model.Channel.Title</h3>
                                        <img src="/proxy?file=@Model.Channel.LogoUrl" width="120">
                                        <br />
                                    </font>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>


            <td>
                <table width="490" align="center" cellpadding="10" cellspacing="0" border="0" bgcolor="#CCCCCC">
                    <tbody>
                        <tr valign="center">
                            @if (previousPage >= 1)
                            {
                                <td width="50%" align="left" valign="middle">
                                    <form name="searchForm" id="searchForm" method="GET" action="/profile/@Model.Channel.Id">
                                        <input type="hidden" name="p" value="@previousPage">
                                        <input type="submit" name="previous_page" value="Previous Page">
                                    </form>
                                </td>
                            }
                            <td width="50%" colspan="4" align="right" valign="middle">
                                <form name="searchForm" id="searchForm" method="GET" action="/profile/@Model.Channel.Id">
                                    <input type="hidden" name="p" value="@nextPage">
                                    <input type="submit" name="next_page" value="Next Page">
                                </form>
                            </td>
                        </tr>
                        @foreach (var group in testGroup)
                        {
                            <tr valign="top">
                                @foreach (var video in group)
                                {
                                    <td width="20%">
                                        <a href="/video/@video.Id">
                                            <img src="/proxy?file=@video.Thumbnails.LowResUrl"
                                                 width="120" height="90">
                                        </a>
                                        <font align="center" face="verdana, arial, helvetica" size="-1">
                                            <div>
                                                <a href="/video/@video.Id">
                                                    @video.Title
                                                </a>
                                            </div>
                                        </font>
                                        <font face="verdana, arial, helvetica" size="-2">
                                            <div>
                                                Added: @video.UploadDate.ToString("dd-MM-yyyy"),
                                                <br> @*by <a href="/profile/@video.ChannelId">@video.Author</a>*@
                                            </div>
                                            <div>
                                                @video.Engagement.ToString()
                                            </div>
                                        </font>
                                    </td>
                                }
                            </tr>
                        }
                        <tr valign="center">
                            @if (previousPage >= 1)
                            {
                                <td width="50%" align="left" valign="middle">
                                    <form name="searchForm" id="searchForm" method="GET" action="/profile/@Model.Channel.Id">
                                        <input type="hidden" name="p" value="@previousPage">
                                        <input type="submit" name="previous_page" value="Previous Page">
                                    </form>
                                </td>
                            }
                            <td width="50%" colspan="4" align="right" valign="middle">
                                <form name="searchForm" id="searchForm" method="GET" action="/profile/@Model.Channel.Id">
                                    <input type="hidden" name="p" value="@nextPage">
                                    <input type="submit" name="next_page" value="Next Page">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>